body{
    width:90%;
    margin-left:6%;
    border:2px solid blue;
}
img{
    height:20rem;
    width:30%;
    margin:1.2%;
    border: 2px solid chartreuse;
}
h1{
    text-align: center;
}
img:hover{
    height:50rem;
    width:50%;
    border: 5px solid red;
    
}